html {
  box-sizing: border-box;
}

 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  /* width: 100%; */
  padding: 0;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-size: 1.5em;
  font-weight: 400;
  background-color: #0077b5;
}

h2 {
  padding-left: 1em;
}

/* header styles */
header {
  background-color: white;
  width: 100%;
}

#head {
  display: flex;
  flex-direction: row;
  padding: 1px;
  align-items: center;
  justify-content: space-around;

}

h1 {
  font-family: 'Rock Salt', blackcurrant, sans-serif;
  font-size: 1.75em;
  padding-top: 2px;
}

.no-margin {
  margin: 0;
}

.lightbulb {
  padding: 10px;
}

.my-title {
  text-align: center;
}

#hamburger {
  border: none;
  background-color: inherit;
  align-self: flex-start;

}

/* builds the burger lines */
#hamburger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0; 
  border-radius: 2px;
}

/* main navigation */
#main-nav {
  display: flex;
  flex-direction: row;
  /* text-decoration: none; */
  background-color: #8da6b2;
  align-items: center;
  justify-content: center;
}

a {
  color: #000042;
  text-decoration: none;
}

a:visited {
  /* text-decoration: 2px red solid; */
  color: black;
}

#main-nav ul li {
  padding: 0.25em;
  list-style-type: none;
}

#main-nav ul li:hover {
  background-color: #0077b5;
}

/* main container, css grid */
main {
  background-color: #0077b5;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  text-align: center; 
  justify-items: center;
  padding: 1em;
}

.projects {
  background-color: lightgrey;
  padding: 5px;
  color: black;
  max-width: 100%;
  align-content: center;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: 2px 2px 10px #000042;
}

.title {
  background-color: #ababab;
  border-radius: 0.25em;
  margin: 2px;
}

.card-desc {
  font-size: 0.67em;
}

.underline {
  text-decoration: underline;
}

.button {
  border: none;
  background-color: #8da6b2;
  margin: 3px;
  border-radius: 0.25em;
  font-size: .75em;
  box-shadow: 2px 2px 3px #000042;
}

.button:hover {
  background-color: #0077b5;
}

/* resume styling */
#resume {
  height: 100vh;
}

#downloadResume {
  display: block;
  border: 3px solid black;
  padding: 10px;
  text-decoration: none;
  font-size: 0.67em;
  color: #000;
  margin-left: 2em;
}

#downloadResume:visited {
  color: #000;
}

.social a:visited {
  color: #111;
}

/* footer css */

.social {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.copy {
  margin-left: 10px;
}

/* media queries for wider screens */
@media (min-width: 550px) and (max-width: 769px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title {
    width: 100%;
  }
}

/* media queries for widest screens */
@media (min-width: 770px) {
  body {
    background-color: #0077b5;
  }

  #head {
    justify-content: space-between;
  }

  #hamburger {
    display: none;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
  .hidden {
    display: flex;
    margin: 0;
  }

  ul li {
    margin: 0 12px;
    list-style-type: none;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title {
    width: 100%;
  }
}

@media (max-width: 450px) {
  #resume {
    display: none;
  }
}