html {
  box-sizing: border-box;
}

 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
  width: 100%;
  padding: 0;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-size: 1.5em;
  font-weight: 400;
  background-color: #0077b5;

  /* padding: 10px; */
}
/* header styles */
header {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.title {
  display: inline-flex;
}

img {
  max-width: 100%;
  min-width: 20%;
}

h1 {
  font-family: blackcurrant, sans-serif;
}

h2 {
  padding-left: 1em;
}

.logo {
  margin: .67em;
}

#hamburger {
  margin: .67em;
  border: none;
  background-color: inherit;
}

#hamburger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 2px;
}
/* main navigation */
#main-nav {
  display: flex;
  flex-direction: row;
  /* text-decoration: none; */
  background-color: #0077b5;
}

.hidden {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  text-decoration: 2px red solid;
  color: black;
}

ul li {
  margin: 0 12px;
  list-style-type: none;
  /* color: #000; */
}

/* main container, css grid */
main {
  background-color: #0077b5;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-gap: 0.5em;
  text-align: center; 
  justify-items: center; 
}

.projects {
  background-color: lightgrey;
  padding: 5px;
  color: black;
  /* border-radius: 20px; */
  max-width: 80%;
  align-content: center;
  align-items: center;
}

.card {
  background-color: #ababab;
  margin: 2px;
  max-height: 25%;
}

.card-desc {
  height: 75%;
  font-size: 0.67em;
}

.underline {
  text-decoration: underline;
}

/* resume styling */
#resume {
  height: 100vh;
}

#downloadResume {
  display: block;
  border: 3px solid black;
  padding: 10px;
  text-decoration: none;
  font-size: 0.67em;
  color: #000;
}

#downloadResume:visited {
  color: #000;
}

.social a:visited {
  color: #111;
}

.social {
  display: flex;
  justify-content: center;
}

@-ms-viewport{
  width: device-width;
}

@media (min-width: 550px) {
  body {
    background-color: #0077b5;

  }

  #hamburger {
    display: none;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
  .hidden {
    display: flex;
  }

  ul li {
    margin: 0 12px;
    list-style-type: none;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;

  }
  


}

@media (40em <= width <= 59em ) {
  background-color: pink;
}